@model KenticoKontentBlog.Feature.Article.ArticleViewModel

@{
    ViewData["Title"] = Model.Title;
}

@if (Model.HasHeroImage)
{
    <div class="hero-image" style="background-image: url(@Model.HeroImage);">
        <div class="hero-text">
            <h1>@Model.Title</h1>
            <p>@($"Published: {Model.PublishedDate:D}")</p>
        </div>
    </div>
}

@if (!Model.HasHeroImage)
{
    <h1>@Model.Title</h1>
    @if (Model.PublishedDate.HasValue)
    {
        <p class="text-muted small">@($"Published: {Model.PublishedDate:D}")</p>
    }
}
@Html.Raw(Model.Content)

@if (Model.Categories != null || Model.Categories.Any())
{
    @foreach (var category in Model.Categories)
    {
        <a href="#" class="btn-dark btn-secondary">@category</a>
    }
}