@model KenticoKontentBlog.Feature.ArticleList.ArticlePreviewCollection

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (!string.IsNullOrWhiteSpace(Model.Title))
            {
                <h2>@Model.Title</h2>
            }
            @foreach (var article in Model.Articles)
            {
                <div class="post-preview">
                    <a asp-controller="Article" asp-action="Index" asp-route-articleStub="@article.CodeName">
                        <h3 class="post-title">
                            @article.Title
                        </h3>
                        @if (!string.IsNullOrWhiteSpace(article.Description))
                        {
                            <span class="post-subtitle">
                                @article.Description
                            </span>
                        }
                    </a>
                    @if (!string.IsNullOrWhiteSpace(article.AuthorTwitter))
                    {
                        <p class="post-meta">Posted by <a href="https://twitter.com/@article.AuthorTwitter">@article.AuthorTwitter</a> on @article.PublishedDate.ToString("D")</p>
                    }
                    else
                    {
                        <p class="post-meta">Posted on @article.PublishedDate.ToString("D")</p>
                    }
                </div>
                <hr>
            }
            <div class="clearfix">
                <a class="btn btn-primary float-right" asp-controller="Article" asp-action="List" asp-route-category="All">All Articles &rarr;</a>
            </div>
        </div>
    </div>
</div>